
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Inter;
}

body {
    padding: 0;
    margin: 0;
    background-color: #1a1921;
}

main {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.content {
    display: flex;
    flex-direction: column;
}

.top-section {
    background: linear-gradient(246.26deg, #585dfe 0%, #fb3796 100%);
    text-align: center;
    padding: 20px 100px;
    border-radius: 10px 10px 0 0;
}

h1 {
    color: white;
    font-size: 22px;
    margin: 30px;
    letter-spacing: -1px;
}

.top-section input {
    background-color: transparent;
    border: none;
    color: rgb(250, 248, 248);
    font-size: 100px;
    font-weight: bold;
    margin-bottom: 20px;
    width: 300px;
    caret-color: rgba(244, 244, 244, 0.58);
    outline: none;
    text-align: center;
}

.top-section input::placeholder {
    font-family: inter;
    color:rgba(250, 248, 248, 0.34)
}

.bottom-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #fbf7ee;
    border-radius: 0 0 10px 10px ;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;

}

.bottom-section div {
    padding: 20px;
    /* border: 1px solid red; */
    width: 350px;
}

.bottom-section h3 {
    font-size: 14px;
    color: #1a1921;
}

.bottom-section p {
    color: #4e4e4e;
    font-size: 14px;
    margin-top: 8px;
}